/*--------------------------------- simple css use --------------------------------------------------- */

.link-book{
    text-decoration: none;
    font-size: 16px;
    background-color:#FFFFFF;
    padding: 8px 22px;
    border-radius: 6px;
    
}
.link-bool{
    text-decoration: none;
    font-size: 16px;
    background-color:#3F87F5;
    padding: 8px 22px;
    border-radius: 6px;
    color: white;
    
}
.chage:hover{
    color: blue;
}
p{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-family: 'Poppins', sans-serif;
}
h3{
    color: #231D4F;
    font-family: 'Poppins', sans-serif;
    font-size:35px;
}
h4{
    color: #231D4F;
    font-family: 'Poppins', sans-serif;  
}
/* ------------------packge site -----------------------*/
.link-sata{
    background-color: #f0b3d96e;
    color:#3F87F5;
    border-radius: 20px;
}
.link-sata-et{
    background-color: #FFFFFF;
    color:#3F87F5;
    border-radius: 20px;
}
.run-details{
    color: #848199;
    font-size: 15px;
}

.run-details-extra{
    color: #FFFFFF;
    font-size: 15px;
}
.text{
    color: #FFFFFF;
    font-size: 15px;
}

/* --------font awesome------------ */
.fa-check{
    color:#5243C2 ;
    padding: 0px 6px;
    background-color:rgba(82, 67, 194, 0.103693) ;
    height: 22px;
    Width:25px;
    border-radius: 25px;
    font-size: 17px;
}
.card-degine{
    background-image: linear-gradient(#fed44ae5 ,#ff9447d8);
    
    border-radius: 20px;
    color:  #FFFFFF;
}
.run-details{
    color: #848199;
    font-size: 15px;
}

/* -------------------media query -----------------*/
@media (max-width:688px) {
    .carousel-caption{
        font-size: 8px;
        position: absolute;
        top: -10px;
    }
    .media-t{
        font-size: 18px;
    }
   
}
