.link-book{
    text-decoration: none;
    font-size: 16px;
    background-color:#FFFFFF;
    padding: 8px 22px;
    border-radius: 6px;
    
}
.link-bool{
    text-decoration: none;
    font-size: 16px;
    background-color:#3F87F5;
    padding: 8px 22px;
    border-radius: 6px;
    color: white;
    
}
.chage:hover{
    color: blue;
}
p{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-family: 'Poppins', sans-serif;
}
h3{
    color: #231D4F;
    font-family: 'Poppins', sans-serif;
    font-size:35px;
}
h4{
    color: #231D4F;
    font-family: 'Poppins', sans-serif;  
}
.link-sata{
    background-color: #f0b3d96e;
    color:#3F87F5;
    border-radius: 20px;
}
.run-details{
    color: #848199;
    font-size: 15px;
}

